.contact-us {
  &__grid {
    @include page-grid;

    row-gap: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    display: grid;
    gap: 16px;

    @include on-desktop {
      grid-column: 1 / 7; // ліва половина
    }
  }

  &__field {
    width: 100%;
    box-sizing: border-box;

    height: 48px;
    opacity: 1;
    border: 1px solid transparent;
    border-radius: 8px;

    background-color: #f9f9f9;

    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;

    padding: 14px 16px;
    outline: none;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border: 1px solid #dbdbdb;
    }

    &:focus {
      border: 2px solid #f98921;
    }

    &--textarea {
      min-height: 148px;
      resize: none;
    }
  }

  &__button {
    height: 56px;
    opacity: 1;
    border-radius: 8px;
    border: none; // прибирає чорну рамку
    outline: none; // прибирає рамку при фокусі

    background-color: #f98921;

    color: #fff;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;

    @include hover(background-color, #1b2129);
    @include active(background-color, #010810);
  }

  &__info {
    grid-column: 1 / -1;

    display: grid;
    gap: 24px;

    @include on-desktop {
      grid-column: 8 / -1; // права половина
    }
  }

  &__item {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    text-transform: none;
  }

  &__label {
    margin: 0 0 8px;

    color: #9393a3;
  }

  &__value {
    margin: 0;
    text-decoration: none;
    transition: color $effectDuration;

    color: #191919;

    &:hover {
      text-decoration: underline;
      color: #f98921;
      cursor: url('../images/vector.png'), pointer;
    }
  }
}
