.header {
  // display: none !important;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover; /* фон не дублюється і розтягується на весь екран */
  background-position: center; /* фон по центру */

  &__content {
    // @include content-padding-inline; не потрібно після того як ввели клас контейнер
    height: 100vh; /* висота фону */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    color: #fff;

    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;

    @include on-tablet {
      font-size: 40px; /* збільшення шрифту */
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px; /* збільшення нижнього відступу ботом-елемену */
    }
  }
}
