.icon {
  display: block; /* так як посилання це інлайновий елемент */
  height: 24px;
  width: 24px;
  background-image: url(../images/icons/icon-burger-menu.svg); /* не знаю чому знову продубльовано */
  background-size: cover; /* Зображення масштабується так, щоб повністю покрити весь елемент,
навіть якщо частина зображення буде обрізана */

  @include hover(transform, scale(1.2));

  // &:hover {
  //   transform: scale(1.2); //написано інакше за допомогою міксина hover та підключено
  // }

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include on-desktop {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone-number.svg);
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
