.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;
  font-weight: 700;
  font-style: bold;

  overflow: auto; /* to scroll the menu if needed */

  &__top {
    margin-bottom: 32px;

    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    background-color: #e5e5e5;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  // &__content { не потрібний після того як зробили клас контейн
  //   @include content-padding-inline; /* горизонтальні відступи */
  // }

  &__phone-number {
    display: block;
    margin-bottom: 16px; /* відстань до наступного рядка */

    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    color: inherit; /* успакований колір */
    text-decoration: none; /* відсутнє підчеркуванн */
  }

  &__call-to-order {
    display: block;
    width: fit-content; /* щоб лінія не розтягувалася за контент */

    padding-bottom: 3px; /* відступ від лінії */
    border-bottom: 1px solid $main-text-color;

    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    color: inherit; /* успакований колір */
    text-decoration: none; /* відсутнє підчеркуванн */
    text-transform: uppercase;
  }
}
