.nav {
  &__list {
    /* скидання відступів і офрмлення списку */
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    color: inherit; /* успакований колір */
    text-decoration: none; /* відсутнє підчеркуванн */
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0;

    /* підчеркування під посиланнями */
    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $main-text-color;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }

    &:hover {
      cursor: url('../images/vector.png'), pointer;
    }
  }
}
