.top-bar {
  padding-block: 28px;

  display: flex; /* щоб блочні елементи були врядок, а не в стовпчик */
  justify-content: space-between; /* елементи з різних сторін рядка */
  align-items: center; /* щоб елементи були відцентровані по вертикалі */

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex; /* іконки розташовуються в ряд */
    gap: 24px; /* відстань між іконками (взяли з макету) */
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 24px;
    }
  }

  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    transition: all $effectDuration;

    @include on-desktop {
      &:hover .top-bar__phone-number {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__phone-number {
    position: absolute;
    opacity: 0;
    right: 40px; // 32 + 8
    white-space: nowrap;
    height: 16px;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;

    transform: translateX(8px);
  }
}
